.app-header{
    background-color: #212121;
    .header-wrap{
        display: flex;
        justify-content: flex-end;
        padding: 10px 25px;
        .wrap-button{
            text-decoration: none;
            .btn-login{
                margin: 20px;            
                background-color: #7eb03d;
                color: white;                   
            }
        }
        
    }
    .log-ined{
        .dropdown {
            position: relative;
            display: inline-block;
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
            }	
            &:hover {
                .dropdown-content {
                    display: block;
                }
            }
        }
    }
}