.app-system {
    background: url("~static/backgroud.jpg")  center no-repeat !important;
    background-size: cover !important;background-position: center !important;
    background-repeat: no-repeat !important;
    .home-wrap{
        margin: 25% auto;
        display: flex;
        justify-content: space-around;
        .item{
            .btn-submit {
                background-color:#7eb03d !important;
                color: white;
            }
        }
    }
    
}
